<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="sensorSettings" type="SimpleConfig.Section, SimpleConfig" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <sensorSettings>
    <sensors>
      <sensor uri="tcp://10.10.5.5:23" type="SCALE">
        <location>
          <ExternalId>
            <LOC.LOCID>500000</LOC.LOCID>
          </ExternalId>
        </location>
      </sensor>
      <sensor uri="tcp://127.0.0.1:9001" type="SCALE" dummytest="true">
        <location>
          <ExternalId>
            <LOC.LOCID>500001</LOC.LOCID>
          </ExternalId>
        </location>
      </sensor>
    </sensors>
  </sensorSettings>
  <akka>
    <hocon>
          <![CDATA[
          akka {          
            loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            log-config-on-start = on        
            actor {                
                debug {  
                      receive = on 
                      autoreceive = on
                      lifecycle = on
                      event-stream = on
                      unhandled = on
                }
            log-remote-lifecycle-events = DEBUG
          }
      ]]></hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="LocusOracle" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=LOCUS;Password=hama1583t;Persist Security Info=True;User Id=LOCUSHAMA"  />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->

      <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target xsi:type="File" fileName="${basedir}/logs/${level}.txt" archiveFileName="${basedir}/archives/log.{#####}.txt" archiveAboveSize="102400" archiveNumbering="Sequence" concurrentWrites="true" maxArchiveFiles="100" keepFileOpen="false" encoding="iso-8859-2" />
      </target>
      <target name="c" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file,c" />
    </rules>
  </nlog>
</configuration>