<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.8" targetFramework="net452" />
  <package id="Akka.Logger.NLog" version="1.0.8" targetFramework="net452" />
  <package id="Bender" version="3.0.1.0" targetFramework="net452" />
  <package id="flexo" version="1.0.3.0" targetFramework="net452" />
  <package id="Helios" version="1.4.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.2" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160419" targetFramework="net452" />
  <package id="SimpleConfig" version="1.0.38.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net452" />
  <package id="Topshelf" version="4.0.1" targetFramework="net452" />
</packages>